.footer{
    background-color: #343a40!important;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: rgb(165, 165, 165);
    a{
        color: white;
    }
    margin-top: 200px;
}