.jumbotron{
    background-color: #e9ecef !important;
    height: 240px;
    padding-top: 60px;

    p{
        font-size: 13px;
        color: #747474;
        padding-left: 10px;
        border-left: 2px solid #d1d0d0;
    }

    form{

        input, button{
            width: 100%;
            @media screen and (max-width: 400px) {
                font-size: 13px !important;
            }
        }
    }

    small{
        @media screen and (max-width: 400px) {
            font-size: 13px !important;
        }
    }
}

.result{
    h4{
        padding-top: 10px;
    }
}